.card{
    margin-bottom: 100px;
}


::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: #335c81;
 }

.stepperbtn {
    background-color: #335c81;
     color: #ffffff;
     margin-left: 10px;
}

.steppersavebtn {
    background-color: #28a745;
    color: #ffffff;

}