<div class="card">
    <div class="card-body">



        <h2> User Information </h2>
        <mat-horizontal-stepper [linear]="isLinear" #stepper labelPosition="bottom">
            <mat-step [stepControl]="User" label="User Bio">
                <div>
                    <form [formGroup]="User">
                        <div class="example-form">

                            <div class="form-row">
                                <div class="col">
                                    <mat-form-field>
                                        <mat-label>User Name </mat-label>
                                        <input matInput placeholder="User Name" formControlName="name"
                                            autocomplete="off">
                                    </mat-form-field>
                                    </div>
                                <div class="col">
                                    <mat-form-field>
                                        <mat-label>Password </mat-label>
                                        <input matInput placeholder="Password" formControlName="password" autocomplete="off">
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field>
                                        <mat-label>Code</mat-label>
                                        <input matInput placeholder="Code" formControlName="code"
                                            autocomplete="off">
                                    </mat-form-field>
                                </div>
                            </div>

                            
                        </div>
                        
                        <br />
                        <button mat-raised-button class="steppersavebtn" (click)="submit_user_bio()">Save</button>
                        <button mat-raised-button class="stepperbtn"
                            (click)="showSnackbarTopPosition('Saved successfully','Done','1000')"
                            matStepperNext>Next</button>
                    </form>
                </div>
            </mat-step>
            <mat-step [stepControl]="UserAdd" label="User Details">
                <div>
                    <form [formGroup]="UserAdd">
                        <div class="example-form">

                            <div class="form-row">
                                <div class="col">
                                    <mat-form-field>
                                        <mat-label>User Name </mat-label>
                                        <input matInput placeholder="User Name" formControlName="username"
                                            autocomplete="off">
                                    </mat-form-field>
                                    </div>
                                <div class="col">
                                    <mat-form-field>
                                        <mat-label>Password </mat-label>
                                        <input matInput placeholder="Password" formControlName="password" autocomplete="off">
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field>
                                        <mat-label>Confirm Password</mat-label>
                                        <input matInput placeholder="Confirm Password" formControlName="confirmpassword"
                                            autocomplete="off">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <mat-form-field>
                                        <mat-label>Roll</mat-label>
                                        <mat-select formControlName="roll">
                                            <mat-option *ngFor="let roll of rolllist" (click)="rolls(roll.id)" [value]="roll.id">
                                                {{roll.text}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    </div>
                                <div class="col" *ngIf="issupplier">
                                    <mat-form-field>
                                        <mat-label>Supplier </mat-label>
                                        <input matInput placeholder="Supplier" formControlName="supplier" autocomplete="off">
                                    </mat-form-field>
                                </div>
                               
                            </div>
                            
                        </div>
                        <br />
                        <button mat-raised-button class="steppersavebtn" (click)="submit_user_details()">Save</button>
                        <button mat-raised-button class="stepperbtn"
                            (click)="showSnackbarTopPosition('Saved successfully','Done','1000')"
                            matStepperNext>Next</button>
                    </form>
                </div>
            </mat-step>
          

    </mat-horizontal-stepper>


</div>
</div>