<div class="container-fluid">       
    <div class="row content">
      <div class="col-sm-3 sidenav">
        <img src="./assets/userimage.png"alt="John" style="width:100%">
        <br>
        <br>
        <!-- <div> -->
          <h1  style="text-align: center;">John</h1>
        <address>
          <strong>Gender</strong>
          <br>
          {{ this.gender }}
         </address>
         <address>
          <strong>Phone No</strong>
          <br>
          {{ this.gmm }}
         </address>
         <address>
          <strong>Email</strong>
          <br>
          {{ this.ss }}
         </address>
        <!-- </div> -->
        
      </div>
  
      <div class="col-sm-9">
                      <!-- <section class="section-wrapper">
                        <div class="container-fluid">
                          <mat-card>
                            <h2>Personal Info</h2>
                            <hr>
                           <div class="form-row">
                             <div class="col">
                                 <p> First Name <span style="color: black;">{{
                                     this.abcd }}
                                 </span></p>
                            
                                 
       
                             </div>
                            
                             <div class="col">
                                 <p> Middle Name <span style="color: black;">{{
                                     this.xyz }}
                                 </span></p>
                                
                             </div>
                             <div class="col">
                                 <p> LastName <span style="color: black;">{{
                                     this.xyz }}
                                 </span></p>
                                 
                                 
      
                             </div>
                           </div>
                           <div class="form-row">
                            <div class="col">

                            </div>

                           </div>
                         </mat-card> 
                        </div>
                      </section>
                      <br> -->


                      <section class="section-wrapper">
                        <div class="container-fluid">
                          <mat-card>
                            <h2>Work Experience</h2>
                            <hr>
                           <div class="form-row">
                             <div class="col">
                              <div class="content-item">
                                <small>2015 - Present</small>
                                <h3>HEAD OF MARKET RESEARCH</h3>
                                <p>United Kingdom, London</p>
                              </div>
                              <div class="content-item">
                                <small>2012 - 2015</small>
                                <h3>MEDIA ANALYST</h3>
                                <h4>BizzNiss.</h4>
                                <p>United Kingdom, London</p>
                              </div>
                              <div class="content-item">
                                <small>2010 - 2012</small>
                                <h3>BUDGET ADMINISTRATOR</h3>
                                <h4>Somsom LLC</h4>
                                <p>United Kingdom, London</p>
                              </div>
                             </div>
                           </div>
                         </mat-card> 
                        </div>
                      </section>
                      <br>



                      <section class="section-wrapper">
                        <div class="container-fluid">
                          <mat-card>
                            <h2>Education</h2>
                            <hr>
                           <div class="form-row">
                             <div class="col">
                              <div class="content-item">
                                <small>2015 - Present</small>
                                <h3>HEAD OF MARKET RESEARCH</h3>
                                <h4>Computer & Motor Ltd.</h4>
                                <p>United Kingdom, London</p>
                              </div>
                              <div class="content-item">
                                <small>2012 - 2015</small>
                                <h3>MEDIA ANALYST</h3>
                                <h4>BizzNiss.</h4>
                                <p>United Kingdom, London</p>
                              </div>
                              <div class="content-item">
                                <small>2010 - 2012</small>
                                <h3>BUDGET ADMINISTRATOR</h3>
                                <h4>Somsom LLC</h4>
                                <p>United Kingdom, London</p>
                              </div>
                             </div>
                           </div>
                         </mat-card> 
                        </div>
                      </section>
                      <br>

                      <section class="section-wrapper">
                        <div class="container-fluid">
                          <mat-card>
                            <h2>Contact</h2>
                            <hr>
                           <div class="form-row">
                            <div class="col">
                                <h3>Temporary Address</h3>
                                <p style="margin: 0px 0 4px;">
                                    {{this.lineName1}},{{this.lineName2}}
                                </p>
                                <p style="margin: 0px 0 4px;">
                                    {{this.lineName3}}
                                </p>
                                <p style="margin: 0px 0 4px;">
                                    {{this.cityName}},{{this.districtName}},
                                </p>
                                <p style="margin: 0px 0 4px;"> {{this.stateName}},{{this.pinCode}}</p>

                            </div>
                            <div class="col">
                                <h3>Temporary Address</h3>
                                <p style="margin: 0px 0 4px;">
                                    {{this.lineName1}},{{this.lineName2}}
                                </p>
                                <p style="margin: 0px 0 4px;">
                                    {{this.lineName3}}
                                </p>
                                <p style="margin: 0px 0 4px;">
                                    {{this.cityName}},{{this.districtName}},
                                </p>
                                <p style="margin: 0px 0 4px;"> {{this.stateName}},{{this.pinCode}}</p>

                            </div>

                        </div>
                         </mat-card> 
                        </div>
                      </section>
                          
      </div>
    </div>
  </div> 


  