.card{
    margin-bottom: 100px;
}


::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: #335c81;
 }



.stepperbtn {
    background-color: #2da3ee;
     color: #ffffff;
     margin-left: 10px;
}

.steppersavebtn {
    background-color: #007462;
    color: #ffffff;

}
.choose-file{
    width: 100%;
    border-style: ridge;
    border-color: snow;
}
.Addsection{
    background-color: #f5c68b;
}
.iconAlign{
    float: right;
}
  

.paddingstyle{
    padding: 50px;
}

.middlestyle{
 margin-left: 48%;
 margin-bottom: 15px;
 background-color: #2da3ee;
 color: #ffffff;
 width: 50px;
}
.matpaneltitle{
    font-weight: bold;
}
.modal-title{
    margin-left: auto;
}

  .monthyrstyle{
      width: auto;
  }
  .order{
      flex-direction: row-reverse;
  }


  .choose-file{
    // width: 100%;
    border-style: ridge;
    border-color: snow;
}
.topalign{
    margin-top: 10px;
}