.active{
    color: #007338;
  }
  .inactive{
    color: #f44336;
  }

  
.alignvertical{
    vertical-align: middle;
    cursor: pointer;
}
.Container{
    padding: 10px;
}
.summaryposition{
    margin-top: 1%;
}

.paymentbtn{
    margin-left: 90%;
    margin-top: -3%;
}

// table format
.detail_table_label {
    font-weight: bold;
    color: dimgray;
}
 
.view-text{
    margin-left: 50px;

}