<h2>User Summary</h2>
<div>
    <button mat-fab style="margin-left: 20px;background-color: #EDF8FA;" (click)="userCreation()"  aria-label="Vendor Maker">
                            <mat-icon matTooltip="Add User">add</mat-icon>
    </button>
</div>
<br>
<div class="table-responsive">
    <table class="table table_text">
        <thead class="table_header" >
            <tr>
                <th>Sl.No</th>
                <th>Code</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let list of summaryList; index as i">
                <!-- <td> {{(paymentpresentpage - 1)*pagesizepayment +i+1 }} </td> -->
                <td>{{i+1}}</td>
                <td>{{list.code}}</td>
                <td>{{list.name}}</td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="summaryList ?.length == 0" style="margin-left: 42%;">
        <h3>No Record found!.. </h3>
    </div>
    <!-- <div class="row" *ngIf="ispaymentpage">
        <div class="col-sm-12" style="font-size: small;text-align: right; margin-bottom: 50px;">
            <button mat-icon-button [disabled]="has_paymentprevious === false" color="primary"
                (click)="previousClickPayment()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            {{paymentpresentpage}}
            <button mat-icon-button [disabled]="has_paymentnext === false" color="primary" (click)="nextClickPayment()">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
    </div>  -->
</div>