<!-- <div class="card">
    <div class="card-body"> -->
        <h2>User Creation</h2>
        <div>
            <form [formGroup]="UserCreation">
                <div class="example-form">
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>Username</mat-label>
                                <input matInput placeholder="Username" formControlName="name"
                                    autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>Password</mat-label>
                                <input matInput placeholder="Password" formControlName="password"
                                    autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-md-2">
                            <span class="material-icons passwordfield" (click)="generatePassword(6)">
                                cached
                            </span>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>Role</mat-label>
                                <mat-select formControlName="role">
                                    <mat-option *ngFor="let rent of roleTypeList" [value]="rent.id">
                                        {{rent.text}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>Role</mat-label>
                                <mat-select formControlName="role">
                                    <mat-option *ngFor="let rent of roleTypeList" [value]="rent.id">
                                        {{rent.text}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>Email Address</mat-label>
                                <input matInput placeholder="Email Address" formControlName="email"
                                    autocomplete="off">
                                    <mat-error *ngIf="UserCreation.controls['email'].hasError('email')">
                                      Email is not Valid!
                                  </mat-error>
                             </mat-form-field>
                        </div>
                        <!-- <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>Password</mat-label>
                                <input matInput placeholder="Password" formControlName="password"
                                    autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-md-2">
                            <span class="material-icons passwordfield" (click)="generatePassword(6)">
                                cached
                            </span>
                        </div> -->
                    </div>
                </div>
                <br />
                <button mat-raised-button class="submitbtn" (click)="submit_user_Creation()">Submit</button>
                <button mat-raised-button class="cancelbtn" (click)="onCancelUser()">Cancel</button>
                <!-- <button mat-raised-button class="stepperbtn"
                    (click)="showSnackbarTopPosition()">cancel</button> -->
            </form>
        </div>

    <!-- </div>

</div> -->
