.card{
    margin-bottom: 100px;
}

.submitbtn {
    background-color: #007462;
    color: #ffffff;

}
.passwordfield{
    font-size: 40px;
    cursor: pointer;
}
.cancelbtn {
    margin-left: 10px;
    color: #ffffff;
    background-color: #6c757d;
}